.app__record-video {
  display: flex;
  position: relative;
  width: 480px;

  @media screen and (min-width: 2000px) {
    width: 540px;
  }

  @media screen and (max-width: 1400px) {
    width: 480px;
  }

  @media screen and (max-width: 780px) {
    width: 340px;
  }

  @media screen and (max-width: 480px) {
    width: 320px;
  }

  @media screen and (max-width: 370px) {
    width: 75%;
  }

  video {
    z-index: 3;
  }

  // video::-webkit-media-controls-play-button,
  video::-webkit-media-controls-timeline,
  video::-webkit-media-controls-mute-button,
  video::-webkit-media-controls-volume-slider,
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }
}

.app__record-video::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  background: linear-gradient(to top right, var(--yellow-color), var(--lightGray-color));
  z-index: 1;
}