.app__location-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 450px;
  height: 450px;

  .app__location-circles {
    position: absolute;
    height: 100%;
    width: 100%;
    
    .circle-cmp {
      position: absolute;
    }
  }

  @media screen and (min-width: 2000px) {
    width: 420px;
    height: 420px;
  }

  @media screen and (max-width: 1400px) {
    width: 400px;
    height: 400px;
  }

  @media screen and (max-width: 1200px) {
    width: 320px;
    height: 320px;
  }

  @media screen and (max-width: 450px) {
    width: 70%;
    height: 300px;
  }
}

.app__location-img::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  background: linear-gradient(to top right, var(--yellow-color), var(--lightGray-color));
  z-index: 1;
}