.app__header-img {
  position: relative;
  width: 450px;

  .app__header-circles {
    position: absolute;
    height: 100%;
    width: 100%;

    .circle-cmp {
      position: absolute;
    }

  }


  @media screen and (min-width: 2000px) {
    width: 480px;
  }

  @media screen and (max-width: 1400px) {
    width: 420px;
  }

  @media screen and (max-width: 1200px) {
    width: 320px;
  }

  @media screen and (max-width: 450px) {
    width: 75%;
  }

  img {
    width: 100%,
  }
}

#home{
  svg{
    color: var(--yellow-color);
    width: 3rem;
    height: 3rem;
    stroke: var(--yellow-color); /* 描边颜色 */
    stroke-width: 0.3; /* 描边宽度 */
  }

  .circle-container {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: var(--yellow-color); /* 设置圆点颜色 */
  }
}