@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #a03f38;
  --secondary-color: #913229;
  --yellow-color: #f7db87;
  --lightGray-color: #e0d6ba;
  --gray-color: #dcc88d;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


#root{
  height: 100%;
  background-color: #a03f38;
}
#root > :first-child {
  height: 100%;
}
body{
  height: 100vh;
}

/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 0px; /* 滚动条宽度 */
  height: 0px; /* 修改滚动条高度 */
}